@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose .custom-table-container{
  @apply overflow-x-auto rounded-xl border border-zinc-200;
}
.prose table{
  @apply min-w-full divide-y divide-zinc-200;
}
.prose thead{
  @apply bg-zinc-200;
}
.prose th{
  @apply px-4 py-3 text-left text-xs font-semibold text-zinc-600 uppercase tracking-wider;
}
.prose td{
  @apply px-4 py-3 text-sm text-zinc-600 border-t border-zinc-200;
  white-space: normal;
  word-break: break-word;
  min-width: 150px;
}